body {
    text-decoration: none;
    letter-spacing: 0em;
    word-spacing: 0em;
    text-transform: none;

    color:black;
    text-shadow: none;

    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;

    margin: 0px;
}

h1 {
    margin:0px;
    padding:0px;

    text-align:center;

    text-shadow: none;

    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-size: 4.5em;
}

h1 a {
    text-decoration:none;
}

h1 a:hover {
    text-shadow: 3px 3px 3px #CCC;

}

h2 {
    margin:0px;
    padding:0px;

    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 2em;
}

h3 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.5em;
}

hr {
    width:80%;
    margin:auto;
    padding:0;
}

img {
    padding: 10px;
}

li {
    list-style: none;
}

a {
    text-decoration: underline;

    color: black;
}

a:hover {
    cursor:pointer;
}

.container {
    display: table;

    margin-right: auto;
    margin-left: auto;

    text-align:left;
    vertical-align:middle;
}

.row  {
    display: table-row;

    vertical-align:middle;

}

.left, .right, .middle {
    display: table-cell;

    vertical-align:middle;
}

.headline {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 3em;
}

.alignright {
    float:right;
}


#content, #entry, #page_content, #viewing_area {
    padding: 15px;
    margin:auto auto;

    text-align: left;
}

#footer {
    display:block;
    clear: both;

    width: 100%;
    margin:auto;

    text-align:center;
}

#welcome {
    padding:10px;

    vertical-align:top;

    color:white;
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
    background-color:gray;
}

#book-cover {
    float:right;

    width:143px;
    padding:15px;

    border-right:1px;
}

#social img {
    width: 40px;
    margin: 0px;
    padding: 5px;
    display: block;
    float: right;
    clear: right;
}

#photo_credit {
    padding: 10px;

    font-style: italic;
}

#notes {
    height: 250px;

    background-color: #f0f0f5;

    margin: 10px;
    padding: 15px;
    border-radius: 25px;
}

#sidebar {
    vertical-align: top;
}

#bio {padding: 15px}

#single_note {
    border-radius: 25px;
    background-color: #FFF;
    padding: 10px;
}

#note_title {
    margin: auto;
    text-align: center;
}

/* RESPONSIVE MENU */

.menu_item {align: right;display: block;}

#menu {
    text-align:right;
    word-spacing: 1em;

    font-family: 'PT Sans Narrow', sans-serif;
    font-size:2em;
    font-style: italic;

    margin: 15px;
}

#menu a {
    text-align:right;
    text-decoration:none;

    color:black;

    align: right;
}

#menu a:hover {
  text-decoration:underline;
}

/* When the screen is less than 680 pixels wide, hide all list items.
    Show the list item that contains the
    link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
    ul.menu li.material-icons {
        float: right;
        display: inline-block;
    }
}

/* The "responsive" class is added to the menu with JavaScript when the user
    clicks on the icon. This class makes the menu look good on small
    screens */
@media screen and (max-width:680px) {
    ul.menu.responsive {position: relative;}
    ul.menu.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    ul.menu.responsive li {
        float: none;
        display: inline;
    }
    ul.menu.responsive li a {
        display: block;
        text-align: left;
    }
}
