body {
    text-decoration: none;
    letter-spacing: 0em;
    word-spacing: 0em;
    text-transform: none;

    color:black;
    text-shadow: none;

    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;

    margin: 0px;
}

h1 {
    margin:0px;
    padding:0px;

    text-align:center;

    text-shadow: none;

    font-family: 'PT Serif', Georgia, serif;
    font-size: 8vw;
}

h1 a {
    text-decoration:none;
}

h1 a:hover {
    text-shadow: 3px 3px 3px #CCC;

}

h2 {
    margin:0px;
    padding:0px;

    font-family: 'PT Serif', Helvetica, Arial, sans-serif;
    font-size: 2em;
}

h3 {
    font-family: 'PT Serif', Helvetica, Arial, sans-serif;
    font-size: 1.5em;
}

hr {
    width:80%;
    margin:auto;
    padding:0;
}

img {
    padding: 10px;
}

li {
    list-style: none;
}

a {
    text-decoration: underline;
    color: black;
}

a:hover {
    cursor: pointer;
}

.container {
    display: table;

    margin-right: auto;
    margin-left: auto;

    text-align:left;
    vertical-align:middle;
}

.row  {
    display: table-row;
    vertical-align:middle;
}

.left, .right, .middle {
    display: table-cell;
    vertical-align:middle;
}

.headline {
    font-family: 'Open Sans', sans-serif;
    font-size: 3em;
}

.alignright {
    float:right;
}


#content, #entry, #page_content, #viewing_area {
    padding: 15px;
    margin:auto auto;
    text-align: left;
}

#footer {
    display:block;
    clear: both;

    width: 100%;
    margin:auto;

    text-align:center;
}

#footer hr {
    width: 40px;
}

#welcome {
    padding:10px;

    vertical-align:top;

    color:white;
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
    background-color:gray;
}

#book-cover {
    float:right;

    width:143px;
    padding:15px;

    border-right:1px;
}

#photo_credit {
    padding: 10px;

    font-style: italic;
}

#notes {
    height: 250px;

    background-color: #f0f0f5;

    margin: 10px;
    padding: 15px;
    border-radius: 25px;
}

#sidebar {
    vertical-align: top;
}

#bio {padding: 15px}

#single_note {
    border-radius: 25px;
    background-color: #FFF;
    padding: 10px;
}

#note_title {
    margin: auto;
    text-align: center;
    font-style: italic;
}

/* RESPONSIVE MENU 
   based on http://codepen.io/danbuda/post/simple-responsive-html-navbar
*/

nav {
    overflow: hidden;
    padding: 1em;
}

nav .navWide {
    display: none;
    margin: 0 auto;
}

nav .navWide .wideLinks {
    text-align: center;
}

nav .navWide .wideDiv a {
    display: inline-block;
    padding: 0 2em;
}

nav .navNarrow i {
    float: left;
}

.hidden {
    display: none;
}

nav .navNarrow .narrowLinks a {
    display: block;
    float: left;
    clear: left;
    padding: 0.5em 0;
    font-family: 'PT Serif', Helvetica, Arial, sans-serif;
    font-size: 2em;
}

.menuItem {
    font-family: 'PT Serif', Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 3vw;
    padding: 0.5em;
}

.menuItem a {
    text-decoration: none;
}

.menuItem a:hover {
    text-shadow: 3px 3px 3px #CCC;

}

#social {
    margin: auto;
}

#social img {
    width: 80px;
    margin: auto;
}

@media (min-width: 680px) {
    nav .navWide {
        display: block;
    }
    nav .navNarrow {
        display: none;
    }
}